@using Prototyping.Ipsum
<h2>Headings</h2>
<section id="typography" >
    <h1 class="test">
        h1 Header
    </h1>

    <h2 data-properties-for='{"h1": "test"}'>
        h2 Header
    </h2>
    <h3>
        h3 Header
    </h3>
    <h4>
        h4 Header
    </h4>
    <h5>
        h5 Header
    </h5>
    <h6>
        h6 Header
    </h6>
    <h3>Paragraph</h3>
    @Html.Ipsum().p()
    <!-- Information panels -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Important: font information</h3>
        </div>
        <div class="panel-body">
            <p>Use <strong>Your-Font-Name-Here</strong> for h1-h4 headings. For all other elements use <strong>Your-Font-Name-Here</strong>.</p>
        </div>
    </div>
    <h3>Lists</h3>
    <h4>Unordered list</h4>
    @Html.Ipsum().ul()
    <h4>
        Ordered list
    </h4>
    @Html.Ipsum().ol()
    <h4>
        Unstyled list
    </h4>
    @Html.Ipsum().ul(ulAttributes: new { @class = "list-unstyled" })
    <h4>
        Inline list
    </h4>
    @Html.Ipsum().ul(ulAttributes: new { @class = "list-inline" })
</section>
